$callout-border-left-width: rem-calc(5);

.callout {
  border-left-width: $callout-border-left-width;
  border-left-color: $medium-gray;
  position: relative;

  .icon {
    font-size: 1.5rem;
    position: absolute;
    left: .5rem;
    top: 1rem;
  }

  .close-button {
    @include vertical-center;
  }

  &.flash {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    padding: .5em .5em .5em 2.5rem;
    margin: 0;
    z-index: 9999;
    .icon {
      top: .5rem;
    }
    @include breakpoint(medium) {
      padding: 1em 1em 1em 2.5rem;
      left: 2rem;
      bottom: 2rem;
      .icon {
        top: 1rem;
      }
    }
  }

  &.transparent {
    background: transparent;
    border: none;
  }

  &.primary {
    border-left-color: $primary-color;

    strong {
      color: $primary-color;
    }
  }

  &.secondary {
    border-left-color: $secondary-color;

    strong, .icon {
      color: $secondary-color;
    }
  }

  &.alert {
    border-left-color: $alert-color;

    strong, .icon {
      color: $alert-color;
    }
  }

  &.success {
    border-left-color: $success-color;

    strong, .icon {
      color: $success-color;
    }
  }

  &.warning {
    border-left-color: $warning-color;

    strong, .icon {
      color: $warning-color;
    }
  }
}


