.action-link {
  cursor: pointer;
  color: $primary-color;
}

.badge {
  border-radius: .6em;
  margin-right: .5em;
}

@each $name, $color in $foundation-palette {
  .text-#{$name} { color: $color; }
}
.text-white { color: $white; }
.text-medium-gray { color: $medium-gray; }

.text-h1 { @include get-header-size(h1) }
.text-h2 { @include get-header-size(h2) }
.text-h3 { @include get-header-size(h3) }
.text-h4 { @include get-header-size(h4) }
.text-h5 { @include get-header-size(h5) }
.text-h6 { @include get-header-size(h6) }

.button.transparent {
  background-color: transparent;
  border-color: transparent;
  color: $dark-gray;
  &:hover {
    color: $black;
    background-color: $light-gray;
  }
}

.top-bar .menu > li > .subscribe-button:focus,
.top-bar .menu > li > .subscribe-button:hover {
  color: $primary-color;
  background: $light-gray;
}
.top-bar .menu > li > .subscribe-button.active:focus,
.top-bar .menu > li > .subscribe-button.active:hover {
  color: $white;
  background: $primary-color;
}
