.dropdown {
  position: relative;
  &.float-right {
    .dropdown-pane {
      right: 0;
      &:after {
        left: auto;
        right: 1em;
      }
    }
  }
}

.dropdown-pane {
  margin-top: 1rem;
  font-size: .875rem;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  visibility: hidden;
  opacity: 0;
  transform: translateY(1rem);
  transition: all .3s;

  .menu.vertical > li {
    &:first-child > a {
      border-top: 0;
    }
    & > a {
      color: $dark-gray;
      border-top: 1px solid $light-gray;
      white-space: normal;
      line-height: 1.1;
      &:hover {
        color: $primary-color;
        background-color: $light-gray;
      }
    }
  }

  &.is-open {
    opacity: 1;
    transform: translateY(0);
  }

  &[x-placement^="bottom"] {
    margin-top: .5rem;

    [x-arrow] {
      content: '';
      position: absolute;
      top: -.2em;
      margin: 0;
      transform: rotate(45deg);
      width: .6em;
      height: .6em;
      box-shadow: -1px -1px 0 0 rgba(34, 36, 38, 0.15);
      background: $dropdown-background;
      z-index: -1;
    }
  }

  &[x-placement^="top"] {
    margin-top: 0;
    margin-bottom: .5rem;

    [x-arrow] {
      content: '';
      position: absolute;
      bottom: -.2em;
      margin: 0;
      transform: rotate(45deg);
      width: .6em;
      height: .6em;
      box-shadow: 1px 1px 0 0 rgba(34, 36, 38, 0.15);
      background: $dropdown-background;
      z-index: -1;
    }
  }
}
