.calendar-day {
  color: $white;
  background: $primary-color;
  font-weight: bold;
}
.calendar-next {
  margin: 2rem 0 4rem 0;
}
.event {
  position: relative;
  border-bottom:1px solid $light-gray;
  display: flex;
  align-items: flex-start;
  &:last-child {
    border-bottom: none;
  }
}
.event-section {
  &:first-child {
    padding: 1rem 0;
    position: relative;
    @include flex-grid-column(shrink, 0);
    width: 3.2rem;
    text-align: right;
    // Move it in front of event link
    position: relative;
    z-index: 2;
  }
  &:last-child {
    padding: 1rem 0 1rem 1rem;
  }
}
.event-name {
  @include get-header-size(h4);
  @include breakpoint(large) {
    @include get-header-size(h3);
  }
  line-height: 1.1;
  margin: 0 0 .25rem 0;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens: auto;
  display: block;
  a {
    display: block;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
.event-place {
  // Move it in front of event link
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: .8rem;
  color: $dark-gray;
  margin: 0 0 .5rem 0;
}
.event-start,
.event-end {
  font-size: .675rem;
  color: $dark-gray;
  width: 3rem;
  span {
    display: block;
  }
  a {
    color: $dark-gray;
  }
  .event-start-day-name,
  .event-start-day,
  .event-start-month,
  .event-end-day-name,
  .event-end-day,
  .event-end-month {
    display: none;
  }
}
.event-start {
  color: $black;
  a {
    color: $black;
  }
}
.event-tags {
  // Move it in front of event link
  position: relative;
  z-index: 2;
}
.event .tags-field {
  margin-bottom: 0;
  & > input:checked + label {
    color: $dark-gray;
    background: $light-gray;
    border-color: $light-gray;
  }
}
