legend {
  @include get-header-size(h4);
  line-height: 1.25;
  font-weight: 700;
}

textarea {
  line-height: 1.4;
  min-height: 8.25rem;
}

.flatpickr-input[readonly] {
  background: $white;
  cursor: default;
}

.tags-field {
  position: relative;
  margin-bottom: 1rem;
  & > input {
    visibility: hidden;
    position: absolute;
    &:checked + label {
      border-color: $primary-color;
      background: $primary-color;
      color: $white;
    }
  }
  & > label {
    font-size: 0.6rem;
    border: 1px solid $medium-gray;
    color: $dark-gray;
    border-radius: 1rem;
    text-transform: uppercase;
    padding: .25rem .5rem;
    margin: 0 .5rem .5rem 0;
    line-height: 1;
    letter-spacing: 1px;
    &:hover {
      background: $light-gray;
    }
  }
}

.filters-reset {
  position:fixed;
  z-index: 11;
  bottom: 0;
  right: 0;
  padding: 1rem;
  width: 100%;
  .button {
    padding: .5rem 1rem;
    font-size: .875rem;
    background: $white;
    color: $primary-color;
    border-radius: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid $primary-color;
    box-shadow:  0 1px 4px rgba(0, 0, 0, .15);
    &:hover {
      background: $light-gray;
    }
  }
}

input.search {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICA8cGF0aCBmaWxsPSIjYzBjMGMwIiBkPSJNMTguODY5IDE5LjE2MmwtNS45NDMtNi40ODRjMS4zMzktMS40MDEgMi4wNzUtMy4yMzMgMi4wNzUtNS4xNzggMC0yLjAwMy0uNzgtMy44ODctMi4xOTctNS4zMDNTOS41MDQgMCA3LjUwMSAwIDMuNjE0Ljc4IDIuMTk4IDIuMTk3LjAwMSA1LjQ5Ny4wMDEgNy41cy43OCAzLjg4NyAyLjE5NyA1LjMwM1M1LjQ5OCAxNSA3LjUwMSAxNWMxLjcyNiAwIDMuMzYyLS41NzkgNC42ODgtMS42NDVsNS45NDMgNi40ODNjLjA5OS4xMDguMjMzLjE2Mi4zNjkuMTYyLjEyMSAwIC4yNDItLjA0My4zMzgtLjEzMS4yMDQtLjE4Ny4yMTctLjUwMy4wMzEtLjcwNnpNMSA3LjVDMSAzLjkxNiAzLjkxNiAxIDcuNSAxUzE0IDMuOTE2IDE0IDcuNSAxMS4wODQgMTQgNy41IDE0IDEgMTEuMDg0IDEgNy41eiIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 1rem 50%;
  padding-left: 2.4rem;
}
