.head-bar {
  @include splash-image;
  position: relative;
  padding: 1rem;
  color: $white;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid $primary-color;
  min-height: 81px;

  @include breakpoint(medium) {
    min-height: 121px;
  }

  & + .top-bar {
    border-top: none;
  }

  .profile .profile-meta {
    color: #eee;
  }
}

.head-bar-container {
  position: relative;
  z-index: 2;
  width: 100%;
  @include xy-grid-container;
}

.head-bar-title {
  @include get-header-size(h4);
  margin: 0;
  line-height: 1.25;
}
