.icon {
  position: relative;
  vertical-align: middle;
  fill: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
  speak: none;
  font-smoothing: antialiased;
  backface-visibility: hidden;
}

.icon-calendar {
  top: -.08em;
}

.icon-pin {
  top: -.08em;
}

.icon-user {
  top: -.08em;
}

.icon-bell {
  top: -.08em;
}

.icon-cog {
  top: -.08em;
}

.icon-power {
  top: -.08em;
}


