@mixin splash-image {
  background-image: url('../images/splash.jpg');
  background-size: cover;
  background-position: 50% 50%;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:before {
    opacity: .33;
    background: #000;
  }
  &:after {
    opacity: .77;
    background: #FF512F;
    background: -webkit-linear-gradient(top, #FF512F , #DD2476);
    background: linear-gradient(to bottom, #FF512F , #DD2476);
  }
}

@mixin get-header-size($header) {
  @each $size, $headers in $header-styles {
    @include breakpoint($size) {
      font-size: rem-calc(map-deep-get($header-styles, $size, $header, font-size));
    }
  }
}
