$modal-max-width: $reveal-width;
$modal-background-color: $white;
$modal-close-hover-color: $black;
$modal-close-hover-background-color: $light-gray;
$modal-radius: $global-radius;

.modal {
  width: 36rem;
  max-width: 100%;
  margin: auto;
  border-radius: $modal-radius;
  background: $modal-background-color;
  position: relative;
  transition: all .3s ease;
  overflow: hidden;
}
.modal-overlay {
  cursor: default;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: .5rem;
  background: -moz-linear-gradient(top, rgba(255,81,47,0.8) 0%, rgba(221,36,118,0.8) 100%);
  background: -webkit-linear-gradient(top, rgba(255,81,47,0.8) 0%,rgba(221,36,118,0.8) 100%);
  background: linear-gradient(to bottom, rgba(255,81,47,0.8) 0%,rgba(221,36,118,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccff512f', endColorstr='#ccdd2476',GradientType=0 );
  transition: opacity .3s ease;
}
.modal-container {
  display: flex;
  align-items: center;
  justify-content:center;
  min-height: 100%;
}
.modal-title {
  font-size: 1.25em;
  line-height: 1.1;
}
.modal-head {
  border-bottom: 1px solid $light-gray;
  padding: 1rem 3rem 1rem 1rem;
  position: relative;
}
.modal-section {
  padding: 1rem;
}
.modal-foot {
  @include clearfix;
  padding: 1rem;
  border-top: 1px solid $light-gray;
  .button.secondary {
    color: $dark-gray;
    background: $white;
    &:hover {
      color: $primary-color;
    }
  }
}
.modal-foot-left {
  float: left;
  .button {
    margin: 0 .5rem 0 0;
  }
}
.modal-foot-right {
  float: right;
  .button {
    margin: 0 0 0 .5rem;
  }
}

.modal-overlay.alert {
  .modal-section {
    color: $white;
    background-color: $alert-color;
  }
  .modal-head,
  .modal-foot {
    color: $white;
    background-color: $alert-color;
    border-color: darken($alert-color, 18%);
  }
  .button {
    background-color: $alert-color;
    background-color: darken($alert-color, 18%);
  }
}

.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal,
.modal-leave-active .modal {
  transform: scale(1.1);
}
