.profile-section {
  margin-bottom: 2rem;
}

.profile-section-title {
  color: $dark-gray;
  border-bottom: 1px solid $light-gray;
  @include get-header-size(h6);
  svg {
    font-size: .75em;
    vertical-align: baseline;
  }
}

.profile-section .grid-container-padded {
  padding-left: 0;
  padding-right: 0;
}

.section {
  padding: 6vh 0;
}

.splash {
  @include splash-image;
  & > div {
    position: relative;
    z-index: 2;
  }
}

.bg-image {
  color: $white;
  position: relative;
  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .button {
    text-decoration: none;
  }
  .button.white.hollow {
    transform: scale(1);
    transition: .3s all;
    &:hover {
      color: #fff;
      border-color: #fff;
      transform: scale(1.025);
      box-shadow: 0 0 10px rgba(255,255,255, .8);
    }
  }
}
