.sticky {
  position: relative;
  z-index: 2;
  top: 0;
  position: sticky;
  &.active {
    z-index: 1;
    .sticky-fix {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  &.top {
    box-shadow: 0 1px 5px 0 rgba(34, 36, 38, 0.1);
  }
}
