table {
  border-collapse: collapse;
}
thead, tbody, tfoot {
  border: none;
}

thead th {
  color: $dark-gray;
  line-height: 1.2;
  font-size: .75em;
  font-weight: normal;
  text-align: left;
  padding: .5rem .5rem;
  border-bottom: 1px solid $light-gray;
  &:first-child {
    padding-left: 1rem;
  }
  &:last-child {
    padding-right: 1rem;
  }
}

tbody td {
  position: relative;
  &:first-child {
    padding-left: 1rem;
  }
  &:last-child {
    padding-right: 1rem;
  }
}

table.stack {
  @include breakpoint (medium down) {
    tbody td {
      padding: .25em 1em .25em 23%;
      min-height: 2em;
      position: relative;
      text-align: left;
      &:before {
        content: attr(data-heading);
        text-align: left;
        color: $dark-gray;
        font-size: .75em;
        line-height: 1.2;
        position: absolute;
        top: .5rem;
        left: 1rem;
        width: 30%;
        white-space: nowrap;
      }
    }
  }
}


